In [1]:
import pandas as pd
import datetime as dt

In [2]:
nyse_daily = pd.read_csv("nyse_daily.csv")
sp_500 = pd.read_csv("s&p500.csv")
nyse_daily["date"] = pd.to_datetime(nyse_daily["date"], errors="coerce")
nyse_daily = nyse_daily.dropna(subset=["date"])

In [24]:
valores_analizados = nyse_daily.merge(sp_500["symbol"].to_frame(), how="inner", on="symbol")
valores_analizados["promedio_diario"] = (valores_analizados["open"]+valores_analizados["measure_midday"]+\
    valores_analizados["measure_afternoon"]+valores_analizados["close"])/4
dataframe_result = valores_analizados.groupby("date").agg({"promedio_diario":"mean"})
dataframe_result["index_name"]="SP500"
dataframe_result = dataframe_result.reset_index()
dataframe_result = dataframe_result[["date", "index_name", "promedio_diario"]]
dataframe_result.rename(columns={"promedio_diario":"value"}, inplace=True)
dataframe_result

          date index_name        value
0   2019-12-31      SP500  3223.500000
1   2020-01-01      SP500  5093.125000
2   2020-01-02      SP500  5182.166667
3   2020-01-03      SP500  5352.500000
4   2020-01-04      SP500  4450.250000
..         ...        ...          ...
269 2020-12-26      SP500  5524.750000
270 2020-12-27      SP500  3910.750000
271 2020-12-28      SP500  4889.500000
272 2020-12-29      SP500  6904.750000
273 2020-12-30      SP500  4969.000000

[274 rows x 3 columns]