In [2]:
import pandas as pd

In [39]:
#1 Cargo los datos en el dataframe
#Cargaria solo la columna pedida y filtrando lo maximo posible directamente pero el enunciado pide que 
#cargue el set de datos
informacion_ejercicio = pd.read_csv("Entrenamieto_ECI_2020.csv")

In [27]:
#2 Mostrar, para la región EMEA, los datos: ID, Territory, Delivery_Quarter,Delivery_Year para los 10
#proyectos con mayor Total Amount

#nlargest retorna un dataframe con la misma cantidad de columnas, ordenado de mayor a menor
(informacion_ejercicio[informacion_ejercicio["Region"] == "EMEA"].nlargest(10, ["Total_Amount"], "all")
                                                 [["ID", "Territory", "Delivery_Quarter", "Delivery_Year"]])

         ID    Territory Delivery_Quarter  Delivery_Year
2179  10808         None               Q2           2016
3667   8037   SE America               Q3           2017
2806   4909  UAE (Dubai)               Q1           2017
1933  10620   Kazakhstan               Q2           2016
2957  13709      Romania               Q2           2016
598    4865       France               Q4           2017
7898  15287      Belgium               Q1           2018
1817  10350      Romania               Q3           2017
3684  20848        Italy               Q4           2016
5669  17668      Germany               Q1           2017

In [44]:
# Tanto para el punto 2 como el 3 busqué alguna forma más eficiente que el indexado booleano para buscar líneas 
# que cumplan alguna condición, así no se recorre el data frame 2 veces y además no se guarda memoria para 
# la lista de bools. Encontré el método .query() pero me pareció "muy SQL" asique tal vez no les gustaba, 
# si pudieran aclararme cuál de los dos es el mejor lo agradecería. Terminé usando el indexado booleano 

#3 Calcular el promedio del precio (Columna: Price) para el territorio (Columna:Territory) cuyo 
# valor sea “Germany”

#Lee los precios como string asique primero le asigno los valores casteados a numeros
informacion_ejercicio["Price"] = pd.to_numeric(informacion_ejercicio["Price"], errors = "coerce")

# Genero un data frame auxiliar con indexado booleano que filtra por territorio para que sea Germany y 
# no por valor de precio para que no se meta en la cuenta los nan ya que los ignora automaticamente
informacion_ejercicio[informacion_ejercicio["Territory"] == "Germany"]["Price"].mean()

0.26467889908256864