In [33]:
import pandas as pd
import numpy as np

ebook1 = pd.read_csv('Ejercicio 4 Guia 1 libros.csv')
ebook1.head()

   user_id  book_id  rating   timestamp
0        1        1       5  06/05/2019
1        2        1       1  14/04/2017
2        3        1       1  20/11/2019
3        4        1       1  29/10/2018
4        5        1       3  09/01/2020

In [11]:
ebook1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 4 columns):
user_id      25 non-null int64
book_id      25 non-null int64
rating       25 non-null int64
timestamp    25 non-null object
dtypes: int64(3), object(1)
memory usage: 880.0+ bytes

In [9]:
ebook2 = pd.read_csv('Ejercicio 4 Guia 1 libros2.csv')
ebook2.head()

   book_id                      book_name  avg_rating
0        1                      Christine         3.5
1        2           Killing Commendatore         2.0
2        3                        Rayuela         1.0
3        4    Around the World in 80 days         3.5
4        5  The Murders in the Rue Morgue         5.0

In [12]:
ebook2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
book_id       5 non-null int64
book_name     5 non-null object
avg_rating    5 non-null float64
dtypes: float64(1), int64(1), object(1)
memory usage: 200.0+ bytes

## Ejercicio a

In [17]:
books_por_id = ebook1.groupby('book_id').agg({'rating':'mean'})
books_por_id.rename(columns={'rating':'avg_rating'}, inplace=True)
top5 = books_por_id.sort_values(by='avg_rating', ascending=False).head()
top5

         avg_rating
book_id
3               3.8
4               3.6
5               3.6
2               2.4
1               2.2

## Ejercicio b

In [21]:
ebook1.rename(columns={'rating':'Ebooks_rating'}, inplace=True)
ebook2.rename(columns={'avg_rating':'GoodReads_rating'}, inplace=True)

In [30]:
merge = ebook1.merge(ebook2, left_on='book_id', right_on='book_id', how='outer')
merge.sample(5)

,user_id,book_id,Ebooks_rating,timestamp,book_name,GoodReads_rating
24,5,5,3,17/10/2019,The Murders in the Rue Morgue,5.0
4,5,1,3,09/01/2020,Christine,3.5
6,2,2,2,16/05/2018,Killing Commendatore,2.0
0,1,1,5,06/05/2019,Christine,3.5
12,3,3,2,04/02/2019,Rayuela,1.0

In [34]:
merge = merge.groupby(['book_id','book_name']).agg({'Ebooks_rating':'mean', 'GoodReads_rating':'mean'})
merge.head()

                                       Ebooks_rating  GoodReads_rating
book_id book_name
1       Christine                                2.2               3.5
2       Killing Commendatore                     2.4               2.0
3       Rayuela                                  3.8               1.0
4       Around the World in 80 days              3.6               3.5
5       The Murders in the Rue Morgue            3.6               5.0

Como el rating m√°ximo es 5, el 20% es 1.

In [35]:
final = merge[np.absolute(merge['Ebooks_rating']-merge['GoodReads_rating']) > 1]
final

                                       Ebooks_rating  GoodReads_rating
book_id book_name
1       Christine                                2.2               3.5
3       Rayuela                                  3.8               1.0
5       The Murders in the Rue Morgue            3.6               5.0