In [1]:
import pandas as pd
import datetime as dt

In [2]:
ventas = pd.read_csv("Ventas.csv")
productos = pd.read_csv("Productos.csv")

In [3]:
#A
ventas["fecha"] = pd.to_datetime(ventas["fecha"], errors = "coerce")
productos_vendidos_2018 = ventas[ventas["fecha"].dt.year==2018]\
            [["Código Producto", "Cantidad"]]
cantidades_totales_2018 = productos_vendidos_2018.\
            groupby("Código Producto").agg({"Cantidad":"sum"})
cantidades_totales_2018.columns=["Cantidad total de producto vendido"]
cantidades_totales_2018 = cantidades_totales_2018.\
        merge(productos[["Código Producto", "Descripcion"]], \
        on="Código Producto", how="left")
cantidades_totales_2018

     Código Producto  Cantidad total de producto vendido Descripcion
0                  0                                 710   Rosabelle
1                  8                                1502         NaN
2                 10                                 851      Gisela
3                 10                                 851   Doralynne
4                 14                                 701         NaN
..               ...                                 ...         ...
341              977                                 277         NaN
342              980                                 459      Nollie
343              987                                 252       Allis
344              989                                  25         NaN
345              992                                  37         NaN

[346 rows x 3 columns]

In [7]:
#B
ventas_por_producto =ventas.groupby("Código Producto").agg({"Cantidad":"sum"})
ventas_por_producto_y_categoria = productos[["Código Producto", "Categoria"]].merge(ventas_por_producto, on = "Código Producto", how = "inner")
ventas_por_producto_y_categoria.set_index("Código Producto", inplace=True)
ventas_por_producto_y_categoria.groupby("Categoria")["Cantidad"].nsmallest(3, keep="all")

Categoria       Código Producto
no_smartphone1  286                19
                289                21
                289                21
no_smartphone2  277                40
                217                43
                150                59
no_smartphone3  613                13
                620                15
                378                45
smartphone      649                20
                289                21
                777                33
Name: Cantidad, dtype: int64