In [1]:
import pandas as pd

In [2]:
#2) Un importante servicio de monitoreo de aplicaciones cloud, sufrió un importante incidente en 
#las últimas semanas por lo cual está conduciendo una investigación. Nuestro equipo participa en 
#el análisis de forma externa para lo cual nos provee los siguientes dataframes en csv:
#- metrics.csv describiendo información de métricas obtenidas. El mismo tiene el formato 
#('client_id', 'integration_id' ,'metric', 'timestamp', 'value') donde la columna ‘metric’ indica 
#el nombre de una métrica que se registra en un cierto momento ('timestamp') cuyo valor se guarda en 
#la columna 'value'.
#- clients.csv con información sobre el cliente, con el formato ('client_id, 'account_number', 'name') 
#donde 'account_number' indica el número de cuenta de cliente y 'name' el nombre del mismo.
#Como miembro de nuestro equipo es necesario que obtengas las siguientes métricas para aportar insights 
#a nuestro análisis:
#a) Calcular el valor promedio de las metricas 'aws.vpc.network_out', 'aws.vpc.network_in', 
#'aws.vpc.network_rate' para los clientes de ‘account_number’ mayor al '25679247' devolviendo el 
#resultado en el siguiente formato (account_number, 'aws.vpc.network_out_mean', 'aws.vpc.network_in_mean', 
#'aws.vpc.network_rate_mean')(15pts)
#b) Calcular la diferencia entre el valor promedio obtenido en cada métrica por cada cliente, y el valor 
#promedio general de esa métrica (sin utilizar group by) (10pts)

In [3]:
metrics = pd.read_csv("metrics.csv")
clients = pd.read_csv("clients.csv")

In [22]:
#A
valores_a_analizar = metrics.loc[metrics["metric"].isin(['aws.vpc.network_out', 'aws.vpc.network_in', 
'aws.vpc.network_rate']), ["client_id", "metric", "value"]].\
    merge(clients[clients["account_number"]>25679247]["client_id"], on = "client_id", how="inner")
valores_a_analizar["promedio_por_metrica"] = valores_a_analizar.groupby("metric")["value"].transform("mean")
tabla_final = pd.pivot_table(valores_a_analizar, index="client_id", columns = ["metric"], \
                                             values="promedio_por_metrica")
tabla_final.columns = tabla_final.columns + "_mean"
tabla_final.rename_axis(columns=None,inplace=True)
tabla_final.reset_index(inplace=True)

tabla_final = tabla_final[["client_id", "aws.vpc.network_out_mean", "aws.vpc.network_in_mean",\
                          "aws.vpc.network_rate_mean"]]
tabla_final

,client_id,aws.vpc.network_out_mean,aws.vpc.network_in_mean,aws.vpc.network_rate_mean
0,19,565.589474,505.814815,572.148148
1,20,565.589474,505.814815,572.148148
2,21,565.589474,505.814815,572.148148
3,22,565.589474,505.814815,572.148148
4,23,565.589474,505.814815,NaN
5,24,NaN,NaN,572.148148
6,25,565.589474,NaN,572.148148
7,26,565.589474,505.814815,572.148148
8,27,565.589474,NaN,572.148148
9,28,565.589474,505.814815,572.148148
10,29,565.589474,505.814815,572.148148
11,30,565.589474,505.814815,572.148148
12,31,565.589474,505.814815,572.148148
13,32,565.589474,505.814815,572.148148
14,33,NaN,505.814815,572.148148
15,34,565.589474,505.814815,NaN
16,35,565.589474,505.814815,572.148148
17,36,NaN,505.814815,572.148148
18,37,565.589474,505.814815,572.148148
19,38,565.589474,505.814815,572.148148
20,39,565.589474,505.814815,572.148148
21,40,565.589474,505.814815,572.148148
22,41,565.589474,NaN,572.148148
23,42,565.589474,505.814815,572.148148
24,43,565.589474,505.814815,572.148148
25,44,565.589474,505.814815,572.148148
26,45,565.589474,505.814815,572.148148
27,46,565.589474,505.814815,572.148148
28,47,565.589474,505.814815,572.148148
29,48,565.589474,505.814815,572.148148
30,49,565.589474,505.814815,572.148148
31,50,565.589474,505.814815,572.148148

In [ ]:
#B
#no se entiende una mierda el enunciado