In [2]:
import datetime as datetime
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

plt.style.use('default')
plt.rcParams['figure.figsize'] = (15,5)

In [3]:
df = pd.read_csv("Ejercicio 1 Guia 1 notas.csv")
df.head()

   padron   materia  nota       fecha
0   59364  analisis     2   24/8/2018
1   59364    fisica     4  26/12/2019
2   59364   algebra     5    7/3/2019
3   16330  analisis     5    3/5/2019
4   16330    fisica     9   10/3/2019

In [4]:
#Veo los tipos del df
df.dtypes

padron      int64
materia    object
nota        int64
fecha      object
dtype: object

In [5]:
#Cambio las fechas del df a datetime
df['fecha'] = pd.to_datetime(df['fecha'])
df.dtypes

padron              int64
materia            object
nota                int64
fecha      datetime64[ns]
dtype: object

In [6]:
#A: Promedio de notas

In [7]:
df['nota'].mean()

3.611111111111111

In [8]:
#B: Nota maxima y minima del 2019
#Primero agrego una columna con el año donde se asentó cada nota. Tambien agrego fila de mes, despues sera util.
df['año'] = df['fecha'].dt.year
df['mes'] = df['fecha'].dt.month
df.head()

   padron   materia  nota      fecha   año  mes
0   59364  analisis     2 2018-08-24  2018    8
1   59364    fisica     4 2019-12-26  2019   12
2   59364   algebra     5 2019-07-03  2019    7
3   16330  analisis     5 2019-03-05  2019    3
4   16330    fisica     9 2019-10-03  2019   10

In [9]:
#Me quedo solo con las filas que tienen de año 2019
notas2019 = df.loc[df['año'] == 2019,:]
notas2019

    padron   materia  nota      fecha   año  mes
1    59364    fisica     4 2019-12-26  2019   12
2    59364   algebra     5 2019-07-03  2019    7
3    16330  analisis     5 2019-03-05  2019    3
4    16330    fisica     9 2019-10-03  2019   10
5    16330   algebra     5 2019-02-11  2019    2
9    15761  analisis     2 2019-11-25  2019   11
10   15761    fisica     2 2019-10-31  2019   10
14   30217   algebra     4 2019-07-03  2019    7
15   19469  analisis     7 2019-03-05  2019    3
16   19469    fisica     2 2019-10-03  2019   10
17   19469   algebra     2 2019-07-03  2019    7

In [10]:
notas2019['nota'].max()

9

In [11]:
notas2019['nota'].min()

2

In [12]:
#C: Padron con mayor cantidad de aprobados en el ultimo cuatrimestre (2doC 2019)
#Ya filtre 2019, ahora me voy a quedar con, de ese año, las filas que pertenecen al segundo cuatrimestre y tienen notas aprobadas

notasAprobadasUltimoCuatri = notas2019.loc[(notas2019['mes']>=6)&(notas2019['nota']>=4)]
notasAprobadasUltimoCuatri.head()

    padron  materia  nota      fecha   año  mes
1    59364   fisica     4 2019-12-26  2019   12
2    59364  algebra     5 2019-07-03  2019    7
4    16330   fisica     9 2019-10-03  2019   10
14   30217  algebra     4 2019-07-03  2019    7

In [13]:
notasAprobadasUltimoCuatri['counter'] = 1
notasAprobadasUltimoCuatri.head()

/home/franco/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

    padron  materia  nota      fecha   año  mes  counter
1    59364   fisica     4 2019-12-26  2019   12        1
2    59364  algebra     5 2019-07-03  2019    7        1
4    16330   fisica     9 2019-10-03  2019   10        1
14   30217  algebra     4 2019-07-03  2019    7        1

In [14]:
agrupadosPorPadron = notasAprobadasUltimoCuatri.groupby('padron')
agrupadosPorPadron.head()

    padron  materia  nota      fecha   año  mes  counter
1    59364   fisica     4 2019-12-26  2019   12        1
2    59364  algebra     5 2019-07-03  2019    7        1
4    16330   fisica     9 2019-10-03  2019   10        1
14   30217  algebra     4 2019-07-03  2019    7        1

In [15]:
agrupadosPorPadronAgg = agrupadosPorPadron['counter'].agg('sum')
agrupadosPorPadronAgg.head()

padron
16330    1
30217    1
59364    2
Name: counter, dtype: int64

In [16]:
agrupadosPorPadronAgg.idxmax()

59364

In [ ]:
#D: Nota promedio del padron con mayor aprobadas
#Me quedo solo con las notas del padron con mas aprobadas

In [20]:
notasMejorPadron = df.loc[df['padron'] == agrupadosPorPadronAgg.idxmax()]
notasMejorPadron.head()

   padron   materia  nota      fecha   año  mes
0   59364  analisis     2 2018-08-24  2018    8
1   59364    fisica     4 2019-12-26  2019   12
2   59364   algebra     5 2019-07-03  2019    7

In [21]:
#Al nuevo dataframe con solo el padron de interes, le calculo promedio en las notas
notasMejorPadron['nota'].mean()

3.6666666666666665

In [22]:
#E: Nota promedio por padron
#Ya agrupe por padron en la variable agrupadosPorPadron pero eso estaba filtrado en 2019

In [27]:
agrupadosPorPadron = df.groupby('padron')
agrupadosPorPadron.head()

    padron   materia  nota      fecha   año  mes
0    59364  analisis     2 2018-08-24  2018    8
1    59364    fisica     4 2019-12-26  2019   12
2    59364   algebra     5 2019-07-03  2019    7
3    16330  analisis     5 2019-03-05  2019    3
4    16330    fisica     9 2019-10-03  2019   10
5    16330   algebra     5 2019-02-11  2019    2
6    27851  analisis     2 2018-04-24  2018    4
7    27851    fisica     4 2018-09-04  2018    9
8    27851   algebra     2 2018-08-21  2018    8
9    15761  analisis     2 2019-11-25  2019   11
10   15761    fisica     2 2019-10-31  2019   10
11   15761   algebra     4 2018-10-07  2018   10
12   30217  analisis     2 2018-08-24  2018    8
13   30217    fisica     2 2018-12-26  2018   12
14   30217   algebra     4 2019-07-03  2019    7
15   19469  analisis     7 2019-03-05  2019    3
16   19469    fisica     2 2019-10-03  2019   10
17   19469   algebra     2 2019-07-03  2019    7

In [28]:
agrupadosPorPadronMean = agrupadosPorPadron['nota'].agg('mean')
agrupadosPorPadronMean.head()

padron
15761    2.666667
16330    6.333333
19469    3.666667
27851    2.666667
30217    2.666667
Name: nota, dtype: float64