In [1]:
import pandas as pd

In [7]:
ventas = pd.read_csv("ventas.csv")
productos = pd.read_csv("productos.csv")

In [8]:
#A
ventas_por_vendedor = ventas.groupby("id_vendedor").\
        agg({"tiene_reclamo":"mean"})
ventas_por_vendedor[ventas_por_vendedor["tiene_reclamo"] > 0.3]

             tiene_reclamo
id_vendedor
2                 1.000000
3                 1.000000
8                 1.000000
9                 1.000000
13                1.000000
...                    ...
988               1.000000
991               0.666667
993               0.500000
994               1.000000
996               1.000000

[404 rows x 1 columns]

In [15]:
#B
productos_smartphone = productos[productos["categoria"]=="smartphone"]
ventas_smartphone = ventas.merge(productos_smartphone["id_producto"], on="id_producto")
ventas_2018 = ventas_smartphone[(ventas_smartphone["año"]==2018) & (ventas_smartphone["mes"]==12)]
ventas_2019 = ventas_smartphone[(ventas_smartphone["año"]==2019) & (ventas_smartphone["mes"]==12)]
ventas_totales_2018 = ventas_2018.groupby("id_producto").agg({"id_comprador":"count"})
ventas_totales_2018.columns = ["ventas_2018"]
ventas_totales_2018.reset_index(inplace=True)
ventas_totales_2019 = ventas_2019.groupby("id_producto").agg({"id_comprador":"count"})
ventas_totales_2019.columns = ["ventas_2019"]
ventas_totales_2019.reset_index(inplace=True)
ventas_2018_2019 = ventas_totales_2019.merge(ventas_totales_2018, on="id_producto", how = "inner")
ventas_2018_2019["diferencia"] = ventas_2018_2019["ventas_2019"] - ventas_2018_2019["ventas_2018"]
ventas_2018_2019.nsmallest(1, "diferencia", "all")["id_producto"]

Empty DataFrame
Columns: [ventas_2019, id_producto, ventas_2018, diferencia]
Index: []

In [ ]:
#C
Subir establecer una cantidad minima de ventas que debe tener un