In [2]:
import pandas as pd
import numpy as np

notas = pd.read_csv('../Ejercicio 1/Ejercicio1.csv')
notas.sample(5)

    padron  materia  nota       fecha
13   30217   fisica     2  26/12/2018
10   15761   fisica     2  31/10/2019
17   19469  algebra     2    7/3/2019
7    27851   fisica     4    9/4/2018
8    27851  algebra     2   21/8/2018

In [2]:
notas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 4 columns):
padron     18 non-null int64
materia    18 non-null object
nota       18 non-null int64
fecha      18 non-null object
dtypes: int64(2), object(2)
memory usage: 656.0+ bytes

## Ejercicio a

In [4]:
promedioDeNotas = notas['nota'].mean()
promedioDeNotas

3.611111111111111

## Ejercicio b

In [5]:
notas['fecha'] = pd.to_datetime(notas['fecha'])
notas2019 = notas[notas['fecha'].dt.year == 2019]

print('Mejor Nota: ' + str(notas2019['nota'].max()))
print('Peor Nota: ' + str(notas2019['nota'].min()))

Mejor Nota: 9
Peor Nota: 2

## Ejercicio c

In [6]:
notas2019

    padron   materia  nota      fecha
1    59364    fisica     4 2019-12-26
2    59364   algebra     5 2019-07-03
3    16330  analisis     5 2019-03-05
4    16330    fisica     9 2019-10-03
5    16330   algebra     5 2019-02-11
9    15761  analisis     2 2019-11-25
10   15761    fisica     2 2019-10-31
14   30217   algebra     4 2019-07-03
15   19469  analisis     7 2019-03-05
16   19469    fisica     2 2019-10-03
17   19469   algebra     2 2019-07-03

In [31]:
notas_2c2019 = notas2019[notas2019['fecha'].dt.month >= 6]
notas_2c2019

    padron   materia  nota      fecha
1    59364    fisica     4 2019-12-26
2    59364   algebra     5 2019-07-03
4    16330    fisica     9 2019-10-03
9    15761  analisis     2 2019-11-25
10   15761    fisica     2 2019-10-31
14   30217   algebra     4 2019-07-03
16   19469    fisica     2 2019-10-03
17   19469   algebra     2 2019-07-03

In [34]:
materias_2c2019 = notas_2c2019.groupby(['padron', 'materia']).agg({'nota':'mean'})
materias_2c2019 = materias_2c2019.rename(columns = {'nota':'nota_promedio'}) 
materias_2c2019['aprueba'] = ((materias_2c2019['nota_promedio']) >= 4)
materias_2c2019

                 nota_promedio  aprueba
padron materia
15761  analisis              2    False
       fisica                2    False
16330  fisica                9     True
19469  algebra               2    False
       fisica                2    False
30217  algebra               4     True
59364  algebra               5     True
       fisica                4     True

In [36]:
aprobados_2c2019 = aprobados_2c2019.reset_index()
materias_aprob_2c2019 = aprobados_2c2019.groupby('padron').agg({'aprueba':'sum'})
materias_aprob_2c2019 = materias_aprob_2c2019.rename(columns={'aprueba':'materias_aprobadas'})
materias_aprob_2c2019

        materias_aprobadas
padron
15761                  0.0
16330                  1.0
19469                  0.0
30217                  1.0
59364                  2.0

In [47]:
maximo = materias_aprob_2c2019['materias_aprobadas'].max()
print("Mayor cantidad de materias aprobadas (" \
      + str(maximo) + "). Alumnos: ")
print(*(materias_aprob_2c2019.loc[materias_aprob_2c2019['materias_aprobadas']==maximo].index.to_list()), sep=',')

Mayor cantidad de materias aprobadas (2.0). Alumnos:
59364

## Ejercicio d

In [49]:
promedio_por_materia = notas.groupby('materia').agg({'nota':'mean'})
promedio_por_materia

              nota
materia
algebra   3.666667
analisis  3.333333
fisica    3.833333

## Ejercicio e

In [50]:
promedio_por_alumno = notas.groupby('padron').agg({'nota':'mean'})
promedio_por_alumno

            nota
padron
15761   2.666667
16330   6.333333
19469   3.666667
27851   2.666667
30217   2.666667
59364   3.666667