In [12]:
import pandas as pd
import numpy as np

casos = pd.read_csv('Ejercicio 6 Guia 1 casos.csv')
casos.head()

        fecha  id_caso  estado_caso  categoria
0  03/01/2019        0            1          1
1  06/01/2019        1            2          2
2  16/02/2019        2            2          0
3  12/04/2019        3            2          4
4  20/04/2019        4            2          2

In [3]:
casos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
fecha          100 non-null object
id_caso        100 non-null int64
estado_caso    100 non-null int64
categoria      100 non-null int64
dtypes: int64(3), object(1)
memory usage: 3.2+ KB

In [2]:
batman = pd.read_csv('Ejercicio 6 Guia 1 batman.csv')
batman.head()

   id_caso  respuesta
0        3          0
1        4          1
2        8          0
3       10          0
4       11          1

In [4]:
batman.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43 entries, 0 to 42
Data columns (total 2 columns):
id_caso      43 non-null int64
respuesta    43 non-null int64
dtypes: int64(2)
memory usage: 768.0 bytes

## Ejercicio a

In [5]:
casos_con_batman = casos.merge(batman, left_on='id_caso', right_on='id_caso', how='outer')
casos_con_batman.head()

        fecha  id_caso  estado_caso  categoria  respuesta
0  03/01/2019        0            1          1        NaN
1  06/01/2019        1            2          2        NaN
2  16/02/2019        2            2          0        NaN
3  12/04/2019        3            2          4        0.0
4  20/04/2019        4            2          2        1.0

In [7]:
cantidad_casos = len(casos_con_batman.index)
casos_resueltos = (casos_con_batman['estado_caso']==2).sum()
tasa_casos_resueltos = casos_resueltos/cantidad_casos
tasa_casos_resueltos

0.42

## Ejercicio b

In [9]:
casos_resueltos_batman = ((casos_con_batman['estado_caso']==2)&(casos_con_batman['respuesta']==1)).sum()
casos_resueltos_batman

8

In [14]:
print('De los casos resueltos un ' + str(np.round((casos_resueltos_batman/casos_resueltos)*100,2)) + '% cont√≥ con la ayuda de Batman')

De los casos resueltos un 19.05% cont√≥ con la ayuda de Batman

## Ejercicio c

In [26]:
casos_con_batman['fecha'] = pd.to_datetime(casos_con_batman['fecha'])
casos_con_batman_2019 = casos_con_batman[casos_con_batman['fecha'].dt.year==2019]
casos_con_batman_2019['mes'] = casos_con_batman['fecha'].dt.month
casos_con_batman_2019.head()

/home/gonzams/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

       fecha  id_caso  estado_caso  categoria  respuesta  mes
0 2019-03-01        0            1          1        NaN    3
1 2019-06-01        1            2          2        NaN    6
2 2019-02-16        2            2          0        NaN    2
3 2019-12-04        3            2          4        0.0   12
4 2019-04-20        4            2          2        1.0    4

In [28]:
batman_2019 = casos_con_batman_2019.groupby('mes').agg({'respuesta':'sum'})
batman_2019.sort_values(by='respuesta', ascending=False, inplace=True)
batman_2019.head()

     respuesta
mes
5          3.0
6          3.0
9          3.0
10         3.0
3          2.0