In [1]:
import pandas as pd
import datetime as dt

In [2]:
eventos = pd.read_csv("Eventos.csv")
categorias = pd.read_csv("Categorias_deportivas.csv")
locaciones = pd.read_csv("Locacion.csv")
eventos["fecha"] = pd.to_datetime(eventos["fecha"], errors="coerce")

In [7]:
#A
eventos_octubre = eventos[(eventos["fecha"].dt.month == 10)&((eventos["fecha"].dt.day==14)|\
                                                             (eventos["fecha"].dt.day==15))]
eventos_octubre_espectadores_por_sede = eventos_octubre.groupby("id_locacion").\
                                                        agg({"cantidad_espectadores":"sum"})
eventos_octubre_espectadores_por_sede.columns=["espectadores_por_locacion"]
merge_espectadores_eventos_y_sedes = eventos_octubre_espectadores_por_sede.\
                        merge(locaciones, how="inner", on="id_locacion")
merge_espectadores_eventos_y_sedes = merge_espectadores_eventos_y_sedes.groupby("sede").\
    agg({"espectadores_por_locacion":"sum"})
merge_espectadores_eventos_y_sedes.columns=["espectadores_por_sede"]
merge_espectadores_eventos_y_sedes.nlargest(1,"espectadores_por_sede","all")

                 espectadores_por_sede
sede
Parque Olímpico                  19411

In [16]:
#B
eventos_con_capacidad = eventos.merge(locaciones, on="id_locacion", how="inner")
eventos_con_capacidad.rename(columns={"nombre":"nombre_locacion"}, inplace=True)
eventos_con_capacidad_superada = eventos_con_capacidad\
        [eventos_con_capacidad["cantidad_espectadores"] > eventos_con_capacidad["capacidad_extendida"]]
eventos_con_capacidad_superada = eventos_con_capacidad_superada.\
                                merge(categorias, on="id_categoria_deportiva", how="inner")
eventos_con_capacidad_superada.rename(columns={"nombre":"nombre_categoria"}, inplace=True)
eventos_con_capacidad_superada = eventos_con_capacidad_superada[["nombre_evento", "nombre_categoria"]]
eventos_con_capacidad_superada

  nombre_evento   nombre_categoria
0       basquet  deportes de balón
1        futsal  deportes de balón
2     ping pong  deportes de balón
3         voley  deportes de balón